.candidate {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 16px 0;

    .candidate_profile {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .avatar {
        width: 56px;
        height: 56px;
        border-radius: 999px;
        display: grid;
        place-items: center;
        font-size: 20px;
        font-weight: 700;
        color: $avatarText;
        background-color: $avatarBg;
    }

    .candidate_bio {
        display: flex;
        flex-direction: column;
        gap: .6rem;
        color: #000000;
        margin-right: auto;
    }

    .address {
        font-weight: 500;
        font-size: 13px;
    }
    .edu {
        font-weight: 300;
        font-size: 13px;
    }

    .tags,
    .chipbars {
        display: flex;
        gap: .7rem;
    }

    .tag {
        color: $blue;
        font-size: 10px;
    }
    .chipbar {
        display: inline-block;
        color: $green;
        background-color: $lightGreen;
        font-size: 10px;
        padding: 3px 10px;
        border-radius: 999px;
    }

    .active_programs,
    .video,
    .written {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .active_programs {
        align-self: start;
    }

    .video,
    .written {
        gap: .3rem;
    }

    .video {
        color: $vidText;
        background-color: $vidBg;
        font-size: 10px;
        border-radius: 999px;
        padding: 3px 10px;

        svg {
            font-size: 15px;
        }
    }

    .written {
        color: $wrtText;
        background-color: $wrtBg;
        font-size: 10px;
        border-radius: 999px;
        padding: 3px 12px;

        svg {
            font-size: 15px;
        }
    }
}

.candidate + .candidate {
    border-top: 1px solid $bodyBg2;
}