// colors
$gray: #D9D9D9;
$placeholder: #999;
$blue: #1D4ED8;
$green: #037092;
$lightGreen: #F3FAFC;

$color: #0B0B0B;
$pageBg: #F9FAFF;
// $pageBg: #F7F8FD;
$bodyBg: #F2F2F2;
$bodyBg2: #F3F3F3;
$itemBg: #E9EFFF;

$asText: #B1CDFD;
$asBg: #D7E5FD;

$avatarText: #D0E1FF;
$avatarBg: #EDF4FF;

$vidText: #305DC6;
$vidBg: #F7F8FD;

$wrtText: #1D4ED8;
$wrtBg: #E3EBFF;